spring:
  profiles:
    active: dev

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  data:
    redis:
      host: localhost
      port: 6379
      password:
      # timeout : 1s
      # database : 0
    session:
      store-type: redis

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_batch_fetch_size: 20
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: false

  devtools:
    restart:
      enabled: false

springdoc:
  swagger-ui:
    enabled: true

server:
  port: 8080